<nav id="menu" class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="index.html">
        <img src="/images/abreviacion_nombre_fondo_oscuro.svg" class="cslab" alt="CSLab">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-1x"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            -->

            <!-- Opción desplegable con áreas de investigación
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Investigación</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ciencia Ciudadana</a>
                    <a class="dropdown-item" href="#">Robotización de Observatorios Astronómicos</a>
                    <a class="dropdown-item" href="#">Laboratorios Educacionales Remotos</a>
                    <a class="dropdown-item" href="#">Retransmisión de Eventos</a>
                </div>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" href="proyectos.html">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="empleo.html">Empleo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nosotros.html">Sobre nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

